<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/collaborators">Outside Collaborators</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/repositories">Repositories</a></li>
  </ul>
</nav>
<div id="error">
  <div>
    <h2>Something Went Wrong</h2>
    <p>The error below occurred whilst invoking the GitHub GraphQL API:</p>
    <section id="error-details">
      <p><strong><%=h type %></strong></p>
      <p><%=h message %></p>
    </section>
  </div>
</div>
