<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/collaborators">Outside Collaborators</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/repositories">Repositories</a></li>
  </ul>
</nav>
<h2><%=h type %></h2>
<p><%=h message %></p>
