<nav>
  <ul>
    <li><a href="/">Organisation</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/collaborators">Outside Collaborators</a></li>
    <li id="active">Teams</li>
    <li><a href="/repositories">Repositories</a></li>
  </ul>
</nav>

<section class="row">
  <section class="column left">
    <p><img class="avatar-large" src="<%=data.enterprise.members.nodes.first.avatar_url %>"></p>
  </section>
</section>
