body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em;
}

a:link, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 100%;
}

img {
  height: 18px;
  width: 18px;
}

nav ul {
  margin: 25px 0;
  padding-left: 0;
  white-space: nowrap;
}

nav li {
  display: inline;
  font-weight: bold;
  list-style-type: none;
  margin-right: 6px;
}

nav a {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px 10px;
}

nav a:link, nav a:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

nav li#active {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
  padding: 6px 10px;
}

nav.pagy-nav {
  margin: 25px 0;
  padding-left: 0;
  white-space: nowrap;
}

nav.pagy-nav .page {
  display: inline;
  margin-right: 2px;
}

nav.pagy-nav .active {
  background-color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  color: #fff;
  padding: 6px 10px;
}

nav.pagy-nav .disabled {
  border: 1px solid #e2e4e8;
  border-radius: 6px;
  padding: 6px 10px;
}

nav.pagy-nav .page .next, nav.pagy-nav .page .prev {
  border: 1px solid #fff;
}

nav.pagy-nav a {
  border: 1px solid #e2e4e8;
  padding: 6px 10px;
}

nav.pagy-nav a:link, nav.pagy-nav a:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

nav.pagy-nav a:hover {
  border: 1px solid #aaa;
  border-radius: 6px;
  text-decoration: none;
}

p {
  font-size: 80%;
}

table {
  background-color: #f6f8fa;
  border: 1px solid #e2e4e8;
  border-collapse: separate; /* Needed to get the rounded corners to appear. */
  border-spacing: 1px;
  border-radius: 6px;
  font-size: 90%;
  width: 100%;
}

th {
  border-bottom: 1px solid #e2e4e8;
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 8px;
  vertical-align: top;
}

td {
  background-color: #fff;
  vertical-align: middle;
}

#back-link {
  font-size: 100%;
}

#bio {
  font-size: 100%;
}

#debug {
  background-color: #e2e4e8;
  border-radius: 6px;
  float: right;
  font-size: 90%;
  margin-top: -50px;
  padding: 0 6px;
}

#error {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 150px;
}

#error div {
  border: 1px solid #e2e4e8;
  border-radius: 6px;
  padding: 0 40px 20px;
  width: 50%;
}

#error div h2 {
  text-align: center;
}

#error div p {
  font-size: 100%;
}

#error-details {
  background-color: #f6f8fa;
  border-radius: 6px;
  font-family: "Courier New", Courier, monospace;
  margin: 30px 0 20px;
  padding: 5px 15px 5px;
}

#filter {
  background-image: url('/svg/search.svg');
  /* background-position: 10px 12px; */
  background-repeat: no-repeat;
  border: 1px solid #e2e4e8;
  border-radius: 6px;
  font-size: 100%;
  line-height: 20px;
  padding: 2px 2px 2px 25px;
}

#licensing p {
  font-size: 100%;
}

#login, #login-only {
  color: #aaa;
  font-size: 120%;
}

#login {
  margin-top: -20px;
}

#login-only {
  margin-top: 0;
}

#organisations img {
  vertical-align: middle;
}

#organisations p {
  font-size: 100%;
}

#licensing, #organisations, .profile-dates, .profile-detail, #teams {
  border-bottom: 1px solid #e2e4e8;
}

#pagination {
  text-align: center;
}

#profile-stats {
  font-size: 100%;
  margin-bottom: 25px;
}

#profile-stats img {
  vertical-align: middle;
}

#administrators ul, #members ul, #owners ul, #teams ul {
  list-style-type: none;
  margin-left: -38px;
}

#administrators li, #members li, #owners li, #teams li {
  margin-bottom: 5px;
}

.avatar-large {
  border-radius: 250px;
  height: 250px;
  width: 250px;
}

.avatar-medium {
  border-radius: 6px;
  height: 32px;
  width: 32px;
}

.avatar-small {
  border-radius: 20px;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}

.child td {
  padding-left: 20px;
}

.child-child td {
  padding-left: 40px;
}

.column {
  flex: 50%;
}

.left {
  padding-right: 25px;
  margin-left: 50px;
}

.right {
  margin-right: 50px;
  padding-left: 25px;
}

.row {
  display: flex;
}

.disabled {
  color: #e2e4e8;
}

.even td {
  background-color: #fff;
}

.odd td {
  background-color: #f6f8fa;
}

.no-wrap {
  white-space: nowrap;
}

.note {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  color: #999;
  font-size: 80%;
  padding: 1px 6px;
}

.organisation {
  margin-right: 6px;
}

.profile-dates span {
  display: inline-block;
  width: 5em;
}

.profile-detail p {
  font-size: 100%;
}

.repositories {
  border-bottom: 1px solid #e2e4e8;
}

.repositories ul {
  list-style-type: none;
  margin-left: -38px;  
}

.repositories li {
  margin-bottom: 5px; 
}
