body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em;
}

a:link, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 100%;
}

img {
  height: 18px;
  width: 18px;
}

nav ul {
  margin: 25px 0;
  padding-left: 0;
  white-space: nowrap;
}

nav li {
  display: inline;
  font-weight: bold;
  list-style-type: none;
  margin-right: 6px;
}

nav a {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px 10px;
}

nav a:link, nav a:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

nav li#active {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  color: #fff;
  padding: 6px 10px;
}

nav.pagy-nav, #data_paginate {
  margin: 25px 0;
  padding-left: 0;
  white-space: nowrap;
}

nav.pagy-nav .page, #data_paginate .paginate_button {
  border-radius: 6px;
  display: inline;
  margin-right: 4px;
}

nav.pagy-nav .active, #data_paginate .paginate_button.current {
  background: none;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  color: #fff !important;
  padding: 6px 10px;
}

nav.pagy-nav .disabled, #data_paginate .paginate_button.disabled {
  border: 1px solid #e2e4e8;
  border-radius: 6px;
  color: #e2e4e8 !important;
  padding: 6px 10px;
}

nav.pagy-nav .page .next, nav.pagy-nav .page .prev {
  border: 1px solid #fff;
}

nav.pagy-nav a, #data_paginate a {
  border: 1px solid #e2e4e8;
  padding: 6px 10px;
}

nav.pagy-nav a:link, nav.pagy-nav a:visited, #data_paginate a:link, #data_paginate a:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

nav.pagy-nav a:hover, #data_paginate a:hover.paginate_button {
  background: none;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  color: #000 !important;
  text-decoration: none;
}

#data_paginate a:hover.paginate_button.disabled {
  border: 1px solid #e2e4e8;
  color: #e2e4e8 !important;
}

p {
  font-size: 80%;
}

table {
  background-color: #f6f8fa;
  border: 1px solid #e2e4e8;
  border-collapse: separate;
  border-spacing: 1px;
  border-radius: 6px;
  font-size: 90%;
  width: 100%;
}

table#data thead th {
  border-bottom: 1px solid #e2e4e8;
}

table#data {
  border-bottom: 1px solid #e2e4e8;
}

th {
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 8px;
  vertical-align: top;
}

td {
  background-color: #fff;
  vertical-align: middle;
}

#back-link {
  font-size: 100%;
}

#bio {
  font-size: 100%;
}

#branch-protection-rules, #languages, #licensing, #organisations, .profile-dates, .profile-detail, #teams {
  border-bottom: 1px solid #e2e4e8;
}

#branch-protection-rules table, #repository-access table {
  font-size: 75%;
}

#data_filter {
  float: none;
  margin: 40px 0 10px;
  text-align: left;
}

#data_filter input {
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 100%;
  line-height: 20px;
  padding: 2px;
}

#data_paginate {
  float:none;
  text-align: center;
}

#debug {
  background-color: #e2e4e8;
  border-radius: 6px;
  float: right;
  font-size: 90%;
  margin-top: -50px;
  padding: 0 6px;
}

#error {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 150px;
}

#error div {
  border: 1px solid #e2e4e8;
  border-radius: 6px;
  padding: 0 40px 20px;
  width: 50%;
}

#error div h2 {
  text-align: center;
}

#error div p {
  font-size: 100%;
}

#error-details {
  background-color: #f6f8fa;
  border-radius: 6px;
  font-family: "Courier New", Courier, monospace;
  margin: 30px 0 20px;
  padding: 5px 15px 5px;
}

#languages ul {
  columns: 2;
}

#licensing p {
  font-size: 100%;
}

#login, #login-only {
  color: #aaa;
  font-size: 120%;
}

#login {
  margin-top: -20px;
}

#login-only {
  margin-top: 0;
}

#organisations img {
  vertical-align: middle;
}

#organisations ul {
  columns: 3;
}

#profile-stats {
  font-size: 100%;
  margin-bottom: 25px;
}

#profile-stats img {
  vertical-align: middle;
}

#repository-access-key {
  font-size: 80%;
  margin-bottom: 25px;
}

.avatar-large {
  border-radius: 250px;
  height: 250px;
  width: 250px;
}

.avatar-medium {
  border-radius: 6px;
  height: 32px;
  width: 32px;
}

.avatar-small {
  border-radius: 20px;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}

.child-1 {
  padding-left: 20px;
}

.child-2 {
  padding-left: 40px;
}

.child-3 {
  padding-left: 60px;
}

.child td {
  padding-left: 20px !important;
}

.child-child td {
  padding-left: 40px !important;
}

.column {
  flex: 50%;
}

.left {
  padding-right: 25px;
  margin-left: 50px;
}

.right {
  margin-right: 50px;
  padding-left: 25px;
}

.row {
  display: flex;
}

.disabled {
  color: #e2e4e8;
}

.even td {
  background-color: #f6f8fa;
}

.odd td {
  background-color: #fff;
}

.language-size {
  color: #aaa;
  font-size: 80%;
}

.no-wrap {
  white-space: nowrap;
}

h2 .note {
  font-size: 60%;
  vertical-align: middle;
}

h2 .note:first-of-type {
  margin-left: 6px;
}

.no-bullets {
  list-style-type: none;
  margin-left: -38px;  
}

.no-bullets li {
  margin-bottom: 5px;
}

.note {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  color: #999;
  font-size: 80%;
  font-weight: normal;
  padding: 1px 6px;
}

.profile-dates span {
  display: inline-block;
  width: 5em;
}

.profile-detail p {
  font-size: 100%;
}

.repositories {
  border-bottom: 1px solid #e2e4e8;
}

.repositories li {
  margin-bottom: 5px; 
}

.swatch {
  margin-right: 6px;
}
